body {
  font-family: Arial, sans-serif;
  background-color: #9b9bff;
  text-align: center;
}
h1{
    color: white;
    margin-bottom: 100px;
}

form {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: white;
}

input {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  border: none;
  background-color:lavender;
}

button {
  padding: 10px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
   border-radius: 16px;
}

button:hover {
  background-color:#5a6dfb;
}
input::placeholder{
  color: darkslategray;
}
.sign{
  color: black;
  text-decoration: none;
  font-size: small;

}